ul{
    width: 750px;
    margin: 0 auto;
    list-style: none;
}
li{
    float: left
}
a{
    display: block;
    text-align: center;
    width: 150px;
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}
h1{
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}


.chosen-works{
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0px 4px;

}
.column{
    position: relative;
    flex: 20%;
    max-width: 25%;
    padding: 0 4px;
    margin-top: 20px;
    /* margin-left: auto;
    margin-right: auto; */
}
.column img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
.img__description{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility:hidden;
    opacity:0;
}
.column:hover .img__description{
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 800px) {
    /* .column{
        flex: 50%;
        max-width: 50%;
    } */
}

@media screen and (max-width: 600px) {
    /* .column{
        flex: 100%;
        max-width: 100%;
    } */
}

@media screen and (max-width: 600px) {
    .column{
        flex: 100%;
        max-width: 100%;
    }
    .banner{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    h1{
        grid-row-start: 1;
        grid-column-start: 1;
    }
    .nav{
        grid-row-start: 1;
        grid-column-start: 2;
    }
    ul{
        width: 0px;
        margin: 0px;
    }
    a{
        font-size: 15px;
        margin-top: 5px;
        text-align: right;
    }
    h1{
        text-align: left;
        line-height: 1.5;
        margin-top: 5px;
    }
}